nav{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: lightgoldenrodyellow;
}
nav ul{
    display: flex;
    list-style: none;
    font-size: medium;
    background-color: black;
    color: white;
    height: 60px;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.logo img{
    width: 79px;
    height: 60px;
    border-radius: 44px;
    
}
*{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    align-items: center;
    
}